@import '~bulma/bulma.sass';
@import url("https://use.typekit.net/emw7khs.css");
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

// * global variables 

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

$orange:#F9A74D;
$pink: #E9D8D8;
$blue: #A1DEDC;
$white: #FDFDFC;
$black: #151E1D;

$titlefont: 'kansasnew', serif;

body {

  background-color: $white;
  font-family:'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black;

  h1, h2, h3, h4, h5 {
    font-family: $titlefont; 
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: 3.556rem;
  }

  h2 {
    font-size: 2.667rem;
  }

  h3 {
    font-size: 1.778rem;
  }

  h4 {
    font-size: 1.333rem;
  }

  h5 {
    font-size: 1rem;
  }

  p, a, li {
    letter-spacing: -1px;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  // navbar styles

  .navbar {
    background: none;
    color: $black
  }

  .navbar-menu {
    box-shadow: none;
    background: none;
  }

  .navbar-item{
    .buttons{
      a {
        padding-right: 10px;
      }
    }
  }

  // footer styles

  .footer {
    background-color: $white;
    a {
      margin-right: 1rem;
      border-bottom: solid 3px $white;
    }

    a:hover {
      border-bottom: solid 3px $pink;
    }

    .links {
      margin-bottom: 1.5rem;
    }
  }

  // image grid styles

  .masonry {
    margin: 1.5em auto;
    max-width: 1000px;
    column-gap: 1.5em;
  }

  .masonry-item {
    padding: 0.8em;
    margin: 0 0 0.9em;
    position: relative;
  }

  // form styles

  form {
    .label {
      color: $black;
      font-weight: 400;
    }
    .button.is-fullwidth {
      background: $orange;
      color: $black;
      border: none;
      font-family: $titlefont; 
      padding: 25px;
    }

    .button.is-fullwidth.login {
      background: $blue;
    }

    .input, .textarea {
      font-family: inherit;
    }
    
  }

  .input {
    border-radius: 0;
  }

  // error styles

  p.error {
    margin-bottom: 0.4rem;
  }

  .error-text {
    font-size: 0.9rem;
  }

  // user profile styles

  .profile-header {
    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      img {
        padding-right: 0.2rem;
      }
    }

    display: flex;
    justify-content: space-between;
  }

  img.profile-image {
    height: 64px;
  }
  
  .user-nav{
    justify-content: center;
    border: none;
    margin-bottom: 1rem;
    .navbar-item a {
      margin-right: 1rem;
      border-bottom: solid 3px $white
    }
    .navbar-item a:hover {
      border-bottom: solid 3px $blue
    }

    .navbar-item a:active {
      border-bottom: solid 3px $blue
    }

  }

  // other content styles

  .box {
    color: $black;
    box-shadow: none;
    background: none;
  }

  .user-favourite-figure {
    position: relative;
  }

  // buttons

  .button {
    font-family: $titlefont;
    border: solid 2px $blue;
  }

  .favourite-button {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    border: solid 2px $pink;
  }

  .unfavourite-button {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    border: solid 2px $pink;
  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .mood-choice {
    font-family: $titlefont;
    font-weight: 600;
    width: 300px;
    height: 300px;
    border-radius: 0;
    margin: 1rem;
    border: none;
  }

  button#calm{
    background-color: $blue;
    transition: background-color 0.2s ease
  }

  button#calm:hover {
    background-color: #86cbc9;
  }

  button#playful {
    background-color: $pink;
    transition: background-color 0.2s ease
  }

  button#playful:hover {
    background-color: #e8bcbc;
  }

  .home.button {
    border: solid 2px $orange;
  }

  button#adventurous {
    background-color: $orange;
    transition: background-color 0.2s ease
  }

  button#adventurous:hover {
    background-color: #f29735;
  }

  .cta-button {
    width: 360px;
    max-width: 100vw;
    margin: 1.5rem auto;
    font-family: $titlefont;
    font-weight: 600;
    border: none;
    background-color: $orange;
  }

  figure.image-single {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    .button {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

}

  // media queries

  @media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

  @media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }

  .masonry-item {
    padding: 0;
    margin: 0;
  }
}


