@import '~bulma/bulma.sass';
@import url("https://use.typekit.net/emw7khs.css");
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

// * global variables 

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

$orange:#F9A74D;
$pink: #E9D8D8;
$blue: #A1DEDC;
$white: #FDFDFC;
$black: #151E1D;

body {

  background-color: $white;
  font-family:'Karla', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black;

  h1, h2, h3, h4, h5 {
    font-family: 'interstate', sans-serif; 
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: 3.556rem;
  }

  h2 {
    font-size: 2.667rem;
  }

  h3 {
    font-size: 1.778rem;
  }

  h4 {
    font-size: 1.333rem;
  }

  h5 {
    font-size: 1rem;
  }

  p, a, li {
    letter-spacing: -1px;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  // navbar styles

  .navbar {
    background: none;
    color: $black
  }

  .navbar-menu {
    box-shadow: none;
    background: none;
  }

  .navbar-item{
    .buttons{
      a {
        padding-right: 10px;
      }
    }
  }

  // footer styles

  .footer {
    background-color: $white;
    a {
      padding-right: 1rem;
      margin-bottom: 2rem;
    }

    .links {
      margin-bottom: 1.5rem;
    }
  }

  // image grid styles

  .masonry {
    margin: 1.5em auto;
    max-width: 800px;
    column-gap: 1.5em;
  }

  .masonry-item {
    padding: 0.8em;
    margin: 0 0 0.9em;
    position: relative;
  }

  // form styles

  form {
    .label {
      color: $black;
      font-weight: 400;
    }
    .button.is-fullwidth {
      background: $orange;
      color: $black;
      border: none;
      font-family: 'interstate', sans-serif; 
      padding: 25px;
    }

    .button.is-fullwidth.login {
      background: $blue;
    }

    .input, .textarea {
      font-family: inherit;
    }
    
  }

  .input {
    border-radius: 0;
  }

  // user profile styles

  .profile-header {
    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      img {
        padding-right: 0.2rem;
      }
    }

    display: flex;
    justify-content: space-between;
  }

  img.profile-image {
    height: 64px;
  }

  // other content styles

  .box {
    color: $black;
    box-shadow: none;
    background: none;
  }

  .favourite-button {
    position: absolute;
    z-index: 2;
  }

  .unfavourite-button {
    position: absolute;
    z-index: 2;
  }


}

  // media queries

  @media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

  @media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }

  .masonry-item {
    padding: 0;
    margin: 0;
  }
}


